{{#each this}}
  <div class='gallery-card'>
    <img loading="lazy" class='gallery-img' src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt='{{title}}' />
    <div class="gallery-card__info">
      <h2>{{title}}</h2>
    <div><p class='genres-block'>
    <p>{{genre_ids}} </p><span>| {{release_date}}</span></div>
    </div>
  </div>
{{/each}}