{{#each this}}
  <div class='gallery-card' id='{{id}}'>
     {{#if poster_path}}
    <img loading="lazy" class='gallery-img' src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt='{{title}}' />
    {{else}}
     <img data-id={{id}} class="gallery-img" src="https://dummyimage.com/400x600/c5cbd1/0011ff.jpg&text= COMING+SOON"
        alt="{{title}}" />
      {{/if}}
    <div class="gallery-card__info">
      <h2>{{title}}</h2>
    <div><p class='genres-block'>
    <p>{{genre_ids}} </p><span>| {{release_date}}</span></div>
    </div>
  </div>
{{/each}}